

.card-text{
    margin-top:0px;
 font-size:15px;
 text-align:left;
 display: -webkit-box;
 max-width: 200px;
 -webkit-line-clamp: 1;
 -webkit-box-orient: vertical;
 overflow: hidden;
} 

.Para-text{
    margin-top:-10px;
 font-size:15px;
 text-align:left;
 display: -webkit-box;
 max-width: 200px;
 -webkit-line-clamp: 1;
 -webkit-box-orient: vertical;
 overflow: hidden;
} 
