.main-div{
    // Need to check with Mr.Anvesh about inline-block =
   display:flex;
   flex-direction: row;
   gap:21px;
   margin-left:40px;
   margin-top:20px;
    #img1{
        height:60px;
        width:80px;
        margin-left:40px;
        margin-top:10px;
    }
    
    p{
        margin-top:70px;
        margin-left:-90px;
    }
    .Beauty{
      margin-left:-120px;
    }
    .Twowheeler{
      margin-left:-106px;
    }
    // .Icon1{
    //     font-size:20px;
    //     position: relative;
    //     top:-60px;
    //     left:-590px;
    //     color:rgb(47, 74, 231);
    // }
   
    .Icon42{
        position:relative;
        top:2px;
        left:2px;
    }

    .Icon43{
        position:relative;
        top:2px;
        left:2px;


    }
    .Icon44{
        position:relative;
        top:2px;
        left:2px;

    }
    .Icon2{
        
            font-size:10px;
            position: relative;
            top:-34px;
            left:-184px;
            color:white;
        }
        .Icon45{
            position:relative;
            top:2px;
            left:2px;

        }
        .Icon3{
            font-size:16px;
            position: relative;
            top:-50px;
            left:-153px;
            color:white;
        }
        
        p{
            font-weight:500;
            font-size:14px;
        }
        .Fashion{
          z-index:99;
        .pdrop1{
          position:absolute;
           top:76px;
           left:420px;
            }
            .Icon41{
                
              position:relative;
              top:2px;
              left:2px;
              }
          }
 
          .MainELec{
            .ElecPara{
                position:absolute;
                top:146px;
                left:435px;
            }
          }
          .MainHome{
           .HomePara{
            position:absolute;
            top:146px;
            left:590px;
           }
        }

  .MainTwowhe{
     margin-left:-100px;
  }



      }          
