.Main-div1{
        margin-top:10px;
        height:306px;
        width:100%;
        background-color:rgb(222, 222, 222);

    .SwipImg{
        height:260px;
        width:100%;
        margin-left:0px;
        margin-top:20px;
    }

}